
    .pinShake {
			animation: kf_shake 0.4s 1 linear;
		}
		@keyframes kf_shake {
			0% { transform: translate(30px); }
			20% { transform: translate(-30px); }
			40% { transform: translate(15px); }
			60% { transform: translate(-15px); }
			80% { transform: translate(8px); }
			100% { transform: translate(0px); }
		}
		
.forgot{
    background: url(../../assets/images/forgot2.jpg);
    background-size: cover;
    /* display:flex; */
    position: relative;

}
.container1{
    justify-content: center;
    align-items: center;
    /* margin: 0 45rem 0 50%; */
    top:50%;
    left:20%;
   position: absolute;

}
.otp{
    color:rgb(255, 31, 31);
    text-shadow: 5px 5px 5px red, -5px -5px 5px red;
}
.formFields{
    width:auto;
}
.text:hover{
    transform: scale(1.1);
}
.textSubmit:hover{
    transform: scale(1.1);
}
.pin{
    width: 49px;
    height: 44px;
    margin: 10px;
    border: 1px solid crimson;
    border-radius: 8px;
}
.pin:focus{
    outline: none;
    caret-color: crimson;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
    width: 116px;
    outline: none;
    border: none;
    margin-left: 20px;
    border-radius: 10px;
    height: 45px;
    background-color: chartreuse;
    color: currentColor;
}
.textSubmit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
    width: 116px;
    outline: none;
    border: none;
    margin: 9px 20px;
    border-radius: 10px;
    height: 45px;
    background-color: chartreuse;
    color: currentColor;
}
#Email{
    display:flex;
    width:500px;
    height: 50px;
    outline:none;
    border:3px solid tomato ;
    border-radius: 25px;
}
input[type="email"]{
    font-size: large;
    font-weight: 500;
    caret-color:black;
    
    /* caret-color: #ff0000;
    caret-color: rgb(255, 0, 0);
    caret-color: hsl(0, 97%, 50%); */

    
}
.valid{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
    width: 116px;
    outline: none;
    border: none;
    margin-left: 20px;
    border-radius: 10px;
    height: 45px;
    background-color: red;
    color: white;
    padding: 5px;
   
}
