<body class="forgot">
   <!-- <div *ngIf="isValid;then content else other_content" ></div> -->
    <!-- <ng-template #content>
<div class="container1" >
    <form #Email="ngForm" (ngSubmit)="submitEmail(emailcheck)" [formGroup]="emailcheck"> 
        <div class="formFields row">  
        <p class="h3 text-white">Enter your email</p>

<input type="email" formControlName="email" class="invalid" name="emailForForgotPassword" id="Email" />

<button class="text" type="submit">Send OTP</button>
<div *ngIf="errmsg" class="valid mt-2">Please enter the valid Email</div>
<div *ngIf="email.invalid && email.touched" class="mt-2">
    <small class="valid" *ngIf="email.errors?.['required']">Email is required</small>
    <small class="valid" *ngIf="email.errors?.['pattern']">Email is not valid.</small>
  </div>
</div>
</form>
</div>
</ng-template> -->

<!-- <ng-template #other_content> -->

    <div class="container1 pinInput">
        <form #pin="ngForm" id="setClass"  (ngSubmit)="submitOTP(pinInput)" [formGroup]="pinInput"> 
            <div class="formFields row">  
            <p class="h3 text-white">Enter your OTP</p>

    <input type="text"  pattern="^\d+$"  formControlName="input1"   #txt1 maxlength="1" (keyup)="move($event,'',txt1,txt2)" class="pin"/>
    <input type="text"  pattern="^\d+$"  formControlName="input2"  #txt2 maxlength="1" (keyup)="move($event,txt1,txt2,txt3)" class="pin"/>
    <input type="text"  pattern="^\d+$"  formControlName="input3"  #txt3 maxlength="1" (keyup)="move($event,txt2,txt3,txt4)" class="pin"/>
    <input type="text"  pattern="^\d+$"  formControlName="input4"  #txt4 maxlength="1" (keyup)="move($event,txt3,txt4,'')" class="pin"/>
    <button class="textSubmit" type="submit">Submit</button>
    <div *ngIf="dismiss" class="otp">Otp you entered is wrong!!</div>
    </div>
    </form>
</div>

<!-- </ng-template> -->

</body>



