<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
            <div class="logo">Solventek<strong>CODE</strong></div>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </div>
</nav> -->
<header class="bg-light text-center text-white fixed-top">
<div data-navigation="container" class="i-top-header">
    <div class="wrapper top-section">
      <!-- <div class="hleft"><a class="logo selfLogo" ><img alt="logo"
            src="../assets/images/logo.png"></a>
      </div> -->
      <div class="text-dark"><p class="logo" >Solventek<strong>CODE</strong></p></div>
      <div class="mnav_hb hide">
        <div class="hamburger"><span class="line"></span><span class="line"></span><span class="line"></span></div>
      </div>
      
      <ul class="navbar-nav mr-auto">
          <!-- <li  *ngIf="navigators!=true" routerLinkActive="active">
            <div class="menu-container dropdown-toggle" >
          <img (click)="isMenuOpened=!isMenuOpened" src="../../assets/images/emptypic.jpg" width="40" height="40" class="rounded-circle" alt="..."> 
            <div class="menu" *ngIf="isMenuOpened">
              <div class="menu-item"><span class="username"><i class="bi bi-circle-fill"></i>&nbsp;&nbsp;{{fullname}}</span></div>
              <span class="caret"></span>
              <hr> 
              <div class="menu-item mt-2"><button (click)="Logout()" class="logout btn btn-danger">Logout</button></div>
            </div>
          </div>
        </li>
        <li routerLinkActive="active"></li>
        <li routerLinkActive="active"></li> -->



<!-- <li>
        <div class="dropdown">
          <button class=" dropdown-toggle" type="button" data-toggle="dropdown">
            <img src="../../assets/images/emptypic.jpg" width="40" height="40" class="rounded-circle" alt="..."> 
            </button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </li> -->
        
      </ul> 
      


      <nav class="hright dnav">
        <ul class="navbar-nav mr-auto">
       
          <!-- <li *ngIf="navigators!=true" routerLinkActive="active"><a routerLink="/home">Home</a></li>
          <li *ngIf="navigators!=true" routerLinkActive="active"><a routerLink="/reg">Sign Up</a></li>
          <li *ngIf="navigators!=true" routerLinkActive="active"><a routerLink="/login">Sign In</a></li> -->
          <!-- ---------------------------------------------------------------------------------------------- -->
            
     <!-- -------------------------------------------------------------------------------------------------------- -->
          <!-- <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/logout">Logout</a></li> -->

          <li class="dropdown">
            <div class="btn dropdown-toggle" data-toggle="dropdown">  
            <img src="../../assets/images/emptypic.jpg" width="40" height="40" class="rounded-circle" alt="...">
          </div>
            <div class="dropdown-menu mt-4">
              <div class="btn btn-default" href="#"><span class="username p-3"><i class="bi bi-circle-fill"></i>&nbsp;&nbsp;{{fullname}}</span></div>
              <div class="dropdown-divider"></div>
              <div class="btn btn-default" href="#"><div class=" menu-item mt-2"><div (click)="Logout()" class="logout">Logout</div></div></div>
            </div>
          </li>
        </ul> 
      </nav>
    </div>
  </div>
</header>




<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class" href="#">Action</a>
          <a class" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
 

