<div class="mat-elevation-z8 container  w-25 ">
  <table mat-table [dataSource]="dataSource" class="table-width">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef class="float-left" class="w-100"> Name </th>
      <td *matCellDef="let element" class="flex-left"> {{element.name}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br><br>
<div class="d-flex justify-content-center align-items-center">
  <button mat-raised-button (click)="logSelection()">Console Log Selected</button>
</div>