
.table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}
.table tr {
    border: none;
}

.table th{
   color: black;
   background-color: lightgrey;
}

.paginator{
    background-color: lightgrey;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-detail table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}
.Search{
    width: 80%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
.conatiner h2{
    margin-top: 16px;
    color:blue;
    margin-left: 8px;
}
.SecTable{
    margin-bottom: 15px; 
}
.SecTable td{
    border: 1px solid black;
}
.SecTable th{
    border: 1px solid black;
}
