@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.h1,
.h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(66, 90, 58);
}

.pt-4,.right-ps,.contact-us{
  color: rgb(0, 102, 0);
  font-size: 17px;
}

.row1{
  background-image: radial-gradient( rgb(178, 255, 178),white);
  padding: 20px;
  border-radius: 50px;
}