<div class="container pt-5">

    <div class="row row1">

        <div class="col-sm">

            <div class="contact-us">
                <p>Contact Us:</p>
                <p><i class="bi bi-envelope-fill"></i><span class="m-2">lorem.ipsum@gmail.org</span></p>
                <p><i class="bi bi-telephone-fill"></i> +91 1234567890, +91 9876543210</p>
                <p><i class="bi bi-geo-alt-fill"></i> 30 N Gould St, Ste R,
                    Sheridan, WY 82801.</p>
                <p><i class="bi bi-geo-alt-fill"></i> Designer Tower, # 301, Plot 78A, Shilpa Layout,
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Gachibowli, Hyderabad, 500032, Telangana.</p>

                <p class="h1">Helping businesses </p>

                <p class="h1">succeed through the</p>

                <p class="h1">power of Design.</p>
            </div>

            <p class="pt-4">Design is the future of business in this digital-focused world. ManishHub uses Design
                algorithms to change the way companies connect and communicate. We help organizations of all sizes
                humanize their communications and personalize their customer experiences.
            </p>

        </div>

        <div class="container-fluid col-sm-auto  p-5">

            <img class="img-fluid mx-auto d-block" src="../../assets/images/contact.png" alt="" width="500vw">

        </div>

    </div>

</div>

<div class="container pt-5 pb-5">

    <div class="row bg-light p-4">

        <div class="col h2">

            <p>Build and deploy Designs to</p>
            <p>reach prospects, connect with</p>
            <p>customers, and change the</p>
            <p>way you work.</p>

        </div>

        <div class="col right-ps">

            <p>ManishHub is built for business. Our platform goes beyond just Design hosting and management.
                Connect with viewers through personalized Design experiences. Explore analytical insights about your
                audience. Turn those insights into action through integrations with top enterprise tools. Prove the
                impact of your Design programs.
            </p>

            <p>Global leaders and industry pioneers on the Fortune 500 list and beyond rely on ManishHub to power their
                Design strategies and turn viewers into customers.
            </p>

        </div>

    </div>

</div>

<app-my-footer></app-my-footer>