<body class="body-background-usershomepage">
  <header class="user-home-header container-fluid" >
  
   <div class="row pt-2">
    <div class="col-1 p-3">
      <img
        src="../../assets/images/solventek-image2.png"
        class="image"
        alt="solventek"
      />
    </div>
    <div class="col-11 p-3 text-center text-white">
      <p class="h2 "><strong>Migrate VMs to Compute Engine</strong></p>
      <p class="h5 text-align">
        Migration is not just a single step. The following sections describe the
        recommended steps.
      </p>
      <p class="h3"><strong>Design the migration</strong></p>
    </div>
    </div>
  </header>

  <!-- <app-header></app-header> -->

  <div class="body-of-homepage">
    <div class="container-fluid  w-100">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid navbarNav">
          <a class="navbar-brand" href="#"><span>Titan</span></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a routerLink="/login" class="btn btn-outline-secondary nav-link">Login&Sign-up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>



    <!-- body-content -->

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <img
            src="../../assets/images/blog-isometric.webp"
            width="300"
            height="300"
            class="w-100"
            alt=""
          />
        </div>
        <div class="col">
          <p class="h1 text">Login&Signup</p>
          <div class="text-col">
          <p>As a marketer, you probably like to think you understand your prospects well — who they are, how they behave, etc. So if one of them visited your website or signup page, what do you think they’d do next?</p>
          <p>Probably register for your service, right?</p>
          <p>That’s not always the case, as one brand found out. For them, something between that CTA and their “thank you” page was causing the business to lose nearly a quarter of its potential customers.</p>
          <p>There was a problem with their sign-up page.</p>
        </div>
      </div>
      </div>
    </div>
  </div>

   <!--------------- Footer content ------------------->

  <footer class="usershome-footer">
    <hr>
    <p class="text-center bg text-white">&copy; 2023 Prakash Infohub | All rights are reserved | Terms of service | Privacy</p>
    </footer>

</body>













