.temp1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 400px;
      background-color:white;
      border-bottom: 2px solid grey;
}

form{
      border: 1px solid;
      padding: 20px;
      box-shadow: 2px 2px 2px black;
      margin-right: 50px;
}

.heading{
      color: whitesmoke;
      font-weight: 100px;
      text-align: center;
}

