<div class="container-fluid temp1 mt-3">

      <div>
            <img src="../../../assets/scenario.jpg" width="400px" height="250px">
      </div>
      <form class="rounded-3">
            <h3 class="heading"><b><span class="bi bi-person-fill"></span>Heloo</b></h3>

            UserName:<input class="form-control" type="text"><br><br>
            Password:<input class="form-control" type="password"><br><br>

            <button class="btn btn-primary  w-100">Login</button>
      </form>
</div>
