<nav class="home-nav">
  <div class="row">
    <div class="col">
      <a class="btnsy item1 nav nav-link  text-white" (click)="toPatients()">new</a>
      </div>
    <div class="col">
    <a class="btnsy item2 nav nav-link  text-white" (click)="toHome()">Home</a>
    </div>
    <div class="col">
      <a class="btnsy item3 nav nav-link  text-white" (click)="toExisting()">Existing</a>
      </div>
      <div class="col">
        <a class="btnsy item4 nav nav-link  text-white" (click)="toPatients()">Patients</a>
        </div>  
    </div>
  </nav>


