<div class = "row">
    <h2> User List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of create">
            <td>{{user.id}}</td>
            <td>{{user.name }}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.address}}</td>
            <td>
                <button (click) = "updateUser(user.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "userDetails(user.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
