.i-top-header {
  height: 70px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.46);
  /* background-color: #171b1b; */
  /* background-image: linear-gradient(90deg, #000000 0, #000000 100%); */
}
.bi-circle-fill{
  color:#57b846
}
.username{
  color:rgb(0, 62, 79);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
  word-wrap: break-word;
  width:100px;
}
.logout{
  padding:6px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.hleft {
  display: flex;
  align-items: center;
  position: relative;
}
.hleft .logo {
  margin-right: 18px;
  padding-left: 18px;
}
.hleft .logo img {
  max-width: 150px;
  display: block;
}
.hleft .logo .partner-txt {
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  top: 10px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
  /* .bg{
    background-color: cornsilk;
  
  } */


.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

}

.hleft {
  display: flex;
  align-items: center;
  position: relative;
}

.hleft .logo {
  margin-right: 18px;
  padding-left: 18px;
}

a, a:link:hover, a:visited:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.hleft .logo img {
  max-width: 150px;
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.hright {
  display: flex;
  align-items: center;
}

.hright ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.hright ul li:first-child {
  margin-left: 0;
}

.hright ul li {
  margin-left: 45px;
  position: relative;
}

ul, ul li {
  list-style: none;
}

.hright ul li.active a, .hright ul li:hover a {
  border-top: 6px solid #57b846;
  padding-top: 20px;
}

.hright ul li a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  padding-bottom: 8px;
}

a, a:link:hover, a:visited:hover {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.logo{
  width:10rem;
  font-size: 24px;
  height: 10rem;
  position: relative;
}
.imglogo{
  position: absolute;
  right: 30rem;
}
.code{
  color:rgb(32, 32, 255);
}


/* --------------------------------prafull--------------------------------------------- */
.extra {
  flex: 1 1 auto;
}

.logo {
  margin-left: 20px;
}

.sidenav-wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/* mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
  } */

button span {
  margin: 10px;
}

button{
  display: flex;
  gap: 10px;
}

mat-sidenav {
  width: 280px;
  padding: 15px;
}

.sidenav-btn {
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

.active button {
  color: blue;
}