<header class="user-home-header container-fluid mb-5" >

    <div class="row pt-2">
     <div class="col-1 p-3">
       <img
         src="../../assets/images/solventek-image2.png"
         class="image"
         alt="solventek"/>
     </div>

     <div class="col-11 py-3  text-center text-white">
       <p class="h2 "><strong>Migrate VMs to Compute Engine</strong></p>
       <p class="h5 text-align">
         Migration is not just a single step. The following sections describe the
         recommended steps.
       </p>
       <p class="h3"><strong>Design the migration</strong></p>
     </div>
     </div>

   </header>
