<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete {{data.data}}?
</div>
<div mat-dialog-actions>
  <button  mat-dialog-close  class="mr-4 btn btn-danger">No</button>
  <button  (click)="popUpopen()"   class="mx-5 btn btn-primary">Ok</button>
</div>


<!-- <div  id="navbarNavAltMarkup">
  <div class="mobile-form">
    <p class="h-5 mr-3">Oops!😵 Are you sure do you want to delete?</p>
    <div class="buttons">
      <button (click)="popUpopen()" class="btn btn-primary" >YES</button>
      <button mat-dialog-close class="btn btn-danger" >NO</button>
    </div>
  </div>
</div> -->
