<div class="row mt-4 justify-content-center">
  <div class="col-md-5">
    <div class="card mb-4 mb-md-0">
      <div class="card-body">
        <p class="mb-4"><span class="text-primary font-italic me-1">Personal</span> Details
        </p>
        <div class="row">
          <div class="col-md-6">Full Name:</div>
          <div class="col-md-6">{{personalInfo.name}}</div>
          <div class="col-md-6">E-mail:</div>
          <div class="col-md-6">{{personalInfo.email}}</div>
          <div class="col-md-6">Phone Number:</div>
          <div class="col-md-6">{{personalInfo.phonenumber}}</div>
          <div class="col-md-6">Age:</div>
          <div class="col-md-6">{{personalInfo.age}}</div>
          <div class="col-md-6">Gender:</div>
          <div class="col-md-6">{{personalInfo.gender}}</div>
          <div class="col-md-6">Address:</div>
          <div class="col-md-6">{{personalInfo.address}}</div>      
        </div>
        <p class="mb-4 mt-3"><span class="text-primary font-italic me-1">Qualification</span> Details
        </p>
        
        <div class="row">
          <div class="col-md-6">High School Name:</div>
          <div class="col-md-6">{{qualification.ssccollegename}}</div>
          <div class="col-md-6">X Grade:</div>
          <div class="col-md-6">{{qualification.sscpercentage}}</div>
          <div class="col-md-6">Junior College Name:</div>
          <div class="col-md-6">{{qualification.hsccollegename}}</div>
          <div class="col-md-6">XII Grade:</div>
          <div class="col-md-6">{{qualification.hscpercentage}}</div>
          <div class="col-md-6">Ug/pg College Name:</div>
          <div class="col-md-6">{{qualification.ugpgcollegename}}</div>
          <div class="col-md-6">Ug/pg Cgpa:</div>
          <div class="col-md-6">{{qualification.ugpgpercentage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>