<div class="container-fluid">
      <div class="header">
            <div>
                  <span class="brand bi bi-flower1"> DIRECTORY</span>
            </div>

            <div>
                  <h4 class="bi bi-tree-fill"><i>Let's Explore the nature ..!</i></h4>
            </div>
            <div class="navmenu">
                  <a routerLink="HOME"><span class="bi bi-house-fill">Home</span></a>
                  <a routerLink="TEMPLATE"><span class="bi bi-person-fill">Contact</span></a>
                  <a routerLink="CONTACT"><span class="bi bi-people-fill">About Us</span></a>
            </div>
      </div>

      <div>
            <router-outlet></router-outlet>
      </div>

      <footer class="header1">
            <div>
                  <h3><span class="bi bi-house-add-fill"> Find the perfect rental</span></h3>

                  <h5>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                        bed in.His room, a proper human room although a little too small, lay peacefully between its
                        four familiar.
                  </h5>
            </div>

            <div>
                  <h3><span class="bi bi-umbrella-fill">  Enjoy your vacation</span></h3>

                  <h5>
                        With increasing leisure time and opportunity and raised quality expectations, beach and
                        bathing-related recreational management has become an increasingly important component of
                        Integrated Coastal Area Management.
                       
                  </h5>
            </div>
      </footer>
      <div class="header2"><span class="bi bi-heart-fill">Enjoy your trip</span></div>
</div>