.header{
      display: flex;
      justify-content: space-between;
      background-color: grey;
      color: whitesmoke;
      padding: 5px;
      margin-top: 5px;
}

.brand{
      font-size:large;
      font-weight: bold;
}

.navmenu a{
      margin-right: 20px;
      font-size: large;
      text-decoration: none;
      color:whitesmoke;
}

.header1{
      display: flex;
      justify-content: space-between;
      background-color:grey;
      color: whitesmoke;
      padding: 10px;
      margin-top: 10px;
}

h5{
      margin-right: 80px;
      margin-left: 90px;
}

h3{
      margin-inline: 130px;
}

.header2{
      background-color:grey;
      color: whitesmoke;
      text-align: center;
      margin-top: 10px;
      height: 40px;
      font-size: large;
}