.header {
      background-color: rgb(120, 110, 148);
      color: whitesmoke;
      width: 100%;

}

.header2 {
      background-color: rgb(73, 82, 105);
      color: rgb(122, 93, 93);
      width: 100%;
}

#anchdisplay {
      text-decoration: none;
      color: whitesmoke;
}

form.nosubmit {
      border: none;
      padding: 0;
}

input.nosubmit {
      width: 260px;
      border: 1px solid whitesmoke;
      display: block;
      padding: 9px 4px 9px 40px;
      background: transparent url("../../Images/search.png width='1px' color='white'") no-repeat 13px center;
}

#bodyimg {
      margin-top: 10px;
      padding-top: 20px;
}

.bodyimg2 {
      border-radius: 90%;
    
}