<div class="sign-up">

    <div class=" bg-img p-4">

        <div class="card w-50 mt-4 mx-auto p-5  container">

            <h2 class="card-header text-center">Registration Form</h2>

            <span *ngIf="errormsg">Kindly check the connection..Form is not saved in database</span>
            <span *ngIf="successmsg">Form is registered successfully</span>

            <form [formGroup]="regForm" name="myForm" (ngSubmit)="onSubmit(regForm)">

                <div class="form-group mt-3">
                    <label>User Name:</label>
                    <input type="text" (focus)="successmsg=false" formControlName="username" class="form-control"
                        maxlength="15" placeholder="siri123">
                    <div *ngIf="regForm.controls['username'].touched && regForm.controls['username']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['username']?.['errors']?.['required']">
                            <span>user name is required</span>
                        </div>

                        <div *ngIf="regForm.controls['username']?.['errors']?.['maxlength']">
                            <span>username reaches max characters.</span>
                        </div>

                        <div *ngIf="regForm.controls['username']?.['errors']?.['pattern']">
                            <span>please enter alpha numerics only..no spaces and special chars.</span>
                        </div>

                    </div>

                </div>

                <div class="form-group mt-3">
                    <label>Full Name:</label>
                    <input type="text" formControlName="fullname" class="form-control" maxlength="15" placeholder="m adi narayana">
                    <div *ngIf="regForm.controls['fullname'].touched && regForm.controls['fullname']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['fullname']?.['errors']?.['required']">
                            <span>full name is required</span>
                        </div>

                        <div *ngIf="regForm.controls['fullname']?.['errors']?.['maxlength']">
                            <span>fullname reaches max characters.</span>
                        </div>

                        <div *ngIf="regForm.controls['fullname']?.['errors']?.['pattern']">
                            <span>please enter alphabets and spaces only.</span>
                        </div>
                    </div>

                </div>

                <div class="form-group mt-3">
                    <label for="email">Email:</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="abc@gmail.com">

                    <div *ngIf="regForm.controls['email'].touched && regForm.controls['email']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['email']?.['errors']?.['required']">
                            <span>email is required</span>
                        </div>

                        <div *ngIf="regForm.controls['email']?.['errors']?.['pattern']">
                            <span>enter valid email..</span>
                        </div>

                    </div>
                </div>


                <div class="form-group mt-3">
                    <label>Password:</label>
                    <input type="password" formControlName="password" class="form-control" maxlength="9" placeholder="Sireesh@2">
                    <div *ngIf="regForm.controls['password'].touched && regForm.controls['password']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['password']?.['errors']?.['required']">
                            <span>password is required</span>
                        </div>

                        <div *ngIf="regForm.controls['password']?.['errors']?.['maxlength']">
                            <span>password should be 9 characters</span>
                        </div>

                        <div *ngIf="regForm.controls['password']?.['errors']?.['pattern']">
                            <span>password should be one uppercase,lowercase,special char,numeric ..</span>
                        </div>

                    </div>
                </div>

                <div class="form-group mt-3">
                    <label for="phone">Phone:</label>
                    <input type="tel" formControlName="phonenumber" class="form-control" maxlength="10" placeholder="enter phone number">
                    <div *ngIf="regForm.controls['phonenumber'].touched && regForm.controls['phonenumber']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['required']">
                            <span>phone number is required</span>
                        </div>

                        <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['maxlength']">
                            <span>phonenumber should be 10 digits</span>
                        </div>

                        <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['pattern']">
                            <span>phone number should match the pattern</span>
                        </div>

                    </div>
                </div>

                <div class="form-group mt-3">

                    <label for="gender">Gender:</label>
                    <label>
                        <input type="radio" formControlName="gender" name="gender" value="male">male
                    </label>
                    <label>
                        <input type="radio" formControlName="gender" name="gender" value="female">female
                    </label>
                    <label>
                        <input type="radio" formControlName="gender" name="gender" value="others">others
                    </label>

                    <div *ngIf="regForm.controls['gender'].touched && regForm.controls['gender']?.['errors']"
                        class="invalid">

                        <div *ngIf="regForm.controls['gender']?.['errors']?.['required']">
                            <span>gender is required</span>
                        </div>

                    </div>

                </div><br>

                <button type="submit" [disabled]="!regForm.valid"
                    class="btn btn-light form-control">Submit</button><br><br>

                

            </form>

            <span class="text-center">You already have an account?<a href="/signIn"> Login here.</a></span>

        </div>

    </div>


</div>

<app-footer></app-footer>
