<div class=" container-fluid row" id="headerstyle">

    <div class="col-md-3">
        <img src="../../assets/headerlogo.jpg" alt="" width="100px" height="80px">

    </div>

    <div class="col-md-5 p-4">
        <h2>
            Welcome to <strong>Amor Hospitals</strong>
        </h2>
    </div>

    <div class="col-md-2 p-4">
        <a [routerLink]="['signUp']" color="primary">signUp</a>
    </div>

    
    <div class="col-md-2 p-4">
        <a [routerLink]="['signIn']" color="primary">signIn</a>
        <a [routerLink]="['show']" color="primary">show</a>

    </div>

</div>