<div class="existing">

    <div class="container text-center h3 mt-3" id="heading">
        Search existing patients
    </div>

    <form id="SearchExisting-form" class="mt-4 d-flex" [formGroup]="existingPatientsForm" #existingForm="ngForm"
        (ngSubmit)="searchExisting(existingPatientsForm)">

        <div class="d-flex mx-auto">
            <div class="form-group m-2">
                <input type="text" onkeydown="return /[a-z\s]/i.test(event.key)" class="form-control" name="firstname"
                    id="firstname" placeholder="First name" formControlName="firstname" />
            </div>

            <div class="form-group m-2">
                <input type="text" onkeydown="return /[a-z\s]/i.test(event.key)" class="form-control" name="lastname"
                    id="lastname" placeholder="Last name" formControlName="lastname" />
            </div>

            <div class="form-group m-2">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone number"
                    formControlName="phone" />
            </div>

            <div class="form-group m-2">
                <button type="submit" [disabled]='checkValid()' class="btn btn-primary form-control">Search</button>
            </div>

        </div>

    </form>

    <div class="table table-responsive mat-elevation-z8 mt-5 mb-5" id="Appts-table" *ngIf="status==200">

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
                    ID
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
            </ng-container>

            <!-- firstname Column -->
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstname">
                    Firstname
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.firstname}} </td>
            </ng-container>

            <!-- lastname Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastname">
                    Lastname
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.lastname}} </td>
            </ng-container>

            <!-- age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age">
                    Age
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.age}} </td>
            </ng-container>

            <!-- gender Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
                    Gender
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.gender}} </td>
            </ng-container>

            <!-- date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                    Date
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.date}} </td>
            </ng-container>

            <!-- time Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">
                    Time
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.time}} </td>
            </ng-container>

            <!-- phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
                    Phone
                </th>
                <td mat-cell *matCellDef="let patient"> {{patient.phone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

    <div class="pagesection wf-section text-center pt-5">
        <div class="pagecontainer">
            <h4 class="oneliner mb-5">The world’s health rely on Medicare to make better life and habitat.</h4>
        </div>
    </div>

    <div id="search-msg" class="mt-2" *ngIf=" status==404 ">
        <p>No data found</p>
    </div>

    <div class="container pt-5 pb-5">

        <div class="row p-4" id="content">

            <div class="col h2" id="left-ps">

                <p>Health has no holiday.</p>
                <p>Be fit with our daily</p>
                <p>health tip, and change the</p>
                <p>way you live.</p>

            </div>

            <div class="col right-ps">

                <p>While these challenging times have brought many changes, at Medicare Hospitals one thing remained the
                    same
                    – Our commitment to the safety of our patients, their loved ones and our staff. We have established
                    a
                    safe environment and were among the first in the country to implement a range of rigorous protocols.
                </p>

                <p>Largest network of the world’s finest and brightest medical experts who provide compassionate care
                    using
                    outstanding expertise and advanced technology.
                    Medicare Hospitals has been the pioneer in bringing ground-breaking healthcare technologies to
                    India.
                </p>

            </div>

        </div>

    </div>

    <div class="pagesection wf-section text-center pt-5">

        <div class="pagecontainer">

            <h4 class="oneliner mb-5">The world’s health rely on Medicare to make better life and habitat.</h4>

        </div>

    </div>

</div>

<app-ass14-footer></app-ass14-footer>