.abs{
  position: absolute;
}
.success{
  color:rgb(0, 130, 19);
  font-family: 'EB Garamond', serif;
  font-size:larger;
  font-weight: 700;
  margin-top: 10px;
  background-image: linear-gradient(to bottom right, rgb(0, 255, 34), rgb(0, 238, 255));
  border-radius: 25px;
}
.bgimg{
  background-image: url(../../assets/images/bg1.jpg);
  background-size: cover;
  width:100%;
  height: 100%;
}
.error{
  color:rgb(229, 230, 229);
  font-family: 'EB Garamond', serif;
  font-size:larger;
  font-weight: 700;
  margin-top: 10px;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 77, 0));
  border-radius: 25px;
  padding:3px;
}