
    .ass9-body{
        margin:0;
        padding:0;
        top:0;
        left:0;
        right:0;
        bottom:0;
        text-decoration: none;
        
    }

    .ass9-header{
        background-color: palegoldenrod;
        /* display: flex; */
align-items: center;
text-align: center  ;
/* font-weight: 700; */
    }
    .ass9-font1{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 40px;
        align-items: center;
    }
    #display-flex{
        display: flex;
        flex-direction: column;
        width: 500px;
        height:auto;
        padding:30px;
    }
    .ass9-small{
        display:inline-block;
        /* flex-direction: column; */
    }
    .main-form-ass9{
        width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 233, 255);

}
#ass9-h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.center-ass9{
text-align: center;
background-color: aqua;
padding:.1px;
}
.ass9-div {
width: 400px;
height:40px;
border:none;
background-color: aliceblue;
align-items: center;
}
.ass9-input{
border: none;
width:100%;
background-color: aliceblue;
padding: 20px;
}
.ass9-inputs{
width: 100%;
height:40px;
border:none;
background-color: aliceblue;
align-items: center;
}

.ass9-font{
font-size: 20px;
font-weight: 700;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-ass9{
display: grid;
grid-template-columns: 50% 50%; 
gap: 0px;
}
/* .ass9-div.success {
border: 2px solid rgb(144, 225, 144);
}
.ass9-div.error:focus{
border:2px solid rgb(250, 21, 21);

} */
/* .ass9-div.error .ass9-input:focus{
outline: 0;
border-color: #777;

} */

/* .ass9-div.error small{
color:rgb(250, 21, 21);
visibility:visible;
font-size: 15px;
}
.ass9-div.success small{
color:rgb(22, 255, 9);
visibility:visible;
font-size: 15px;
} */
/* .ass9-div input{
outline: 0;
} */
.ass9-div small{
visibility: hidden;
position: absolute;
}
.ass9-Parllel{
display:flex;
flex-direction: column;
margin-bottom: 0px;
padding:1px;
background-color: rgb(219, 180, 204);
width: 100%;
}
.ass9-grid{
    background-size: cover;
margin-left: 0;
left: 0;
display: grid;
grid-template-rows: 50% 50%;
gap: 0px;
}
.ass9-images{
background-color: snow;
display: grid;
grid-template-columns: 33.3% 33.3% 33.3%;
}
#ass9-image1{
    width:100%;
    height:100%;
}
#ass9-image2{
    width:100%;
    height:100%;
}
#ass9-image3{
    width:100%;
    height:100%;
}
/* ***************************************icons styling************************************************************ */
#ass9-form-valid .field .icons{
position: absolute;
right:15px;
top:50%;
transform: translateY(-50%);
}
.field .icons span{
height:25px;
width:25px;
border:2px solid;
border-radius: 50%;
line-height: 25px;
display:none;
}
.field .icons span.icon1{
color: #e74c3c;
border-color: #e74c3c;
}
.field .icons span.icon2{
color: #27ae60;
border-color: #27ae60;
}
.ass9-content #display-flex .field{
width:400px;
height:45px;
display:flex;
position: relative;
}
/* *************************************************name error**************************** */
#display-flex .error-text-name:before{
position:absolute;
content:'';
height:15px;
width:15px;
background: #e74c3c;
right:20px;
top:-7px;
transform:rotate(45deg)
}
#display-flex .error-text-name{
margin: 15px 0 -15px 0;
background-color: #e74c3c;
color:#fceae8;
font-size: 18px;
padding:8px;
border-radius: 5px;
position:relative;
display:none;
width: 400px;
margin-bottom: 20px;
}
/* *****************************************min age error******************************************************* */
#display-flex .error-text-minage:before{
position:absolute;
content:'';
height:15px;
width:15px;
background: #e74c3c;
right:20px;
top:-7px;
transform:rotate(45deg)
}
#display-flex .error-text-minage{
margin: 15px 0 -15px 0;
background-color: #e74c3c;
color:#fceae8;
font-size: 18px;
padding:8px;
border-radius: 5px;
position:relative;
display:none;
width: 400px;
margin-bottom: 20px;
}
/* ************************************************max age error******************************************************** */
#display-flex .error-text-maxage:before{
position:absolute;
content:'';
height:15px;
width:15px;
background: #e74c3c;
right:20px;
top:-7px;
transform:rotate(45deg)
}
#display-flex .error-text-maxage{
margin: 15px 0 -15px 0;
background-color: #e74c3c;
color:#fceae8;
font-size: 18px;
padding:8px;
border-radius: 5px;
position:relative;
display:none;
width: 400px;
margin-bottom: 20px;
}

#display-flex .field .icons{
position:absolute;
right:15px;
top:50%;
transform: translateY(-50%);
}
.ass9-flags{
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0;
}
.ass9-flags #flags{
width: 100%;
height:100%;
}
.ass9-res{
    width: 500px;
    height: 40px;
    background-color: #fceae8;
border:.5px solid red;  
border-radius: 10px;
}


