<div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FullName </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <ng-container matColumnDef="phonenumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-raised-button class="btn btn-danger" (click)="openDialog(element.id)">Delete</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-raised-button class="btn btn-danger" (click)="editDialog(element.id)">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>


    </table>
    

    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        showFirstLastButtons>
    </mat-paginator>
</div>