body {
  text-align: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 200px;
}

button {
  text-align: center;
  border-radius: 20px;
  border: 2px solid grey;
  padding: 20px;
  background-color: ghostwhite;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: linen;
  box-shadow: 5px 10px 18px rgb(39, 39, 39);
  cursor: pointer;
}
