<div class="row mt-5">
    <div class="col">
        <img src="../../assets/offbgimg.png" alt="img" style="width:100%">
    </div>

    <div class="col">

        <h2 class="header">Employee Details</h2>

        <form [formGroup]="regForm" name="myForm" (ngSubmit)="onSubmit(regForm)">

            <div class="form-group">

                <label>Name:</label>
                <input type="text" formControlName="name" class="form-control" maxlength="25" placeholder="Enter your name">
                <div *ngIf="regForm.controls['name'].touched && regForm.controls['name']?.['errors']" class="invalid">

                    <div *ngIf="regForm.controls['name']?.['errors']?.['required']">
                        <span> Name is required</span>
                    </div>

                    <div *ngIf="regForm.controls['name']?.['errors']?.['maxlength']">
                        <span>Name reaches max characters.</span>
                    </div>

                    <div *ngIf="regForm.controls['name']?.['errors']?.['pattern']">
                        <span>please enter alphabet with a dot only no spaces & numerals.</span>
                    </div>

                </div>

            </div>


            <div class="form-group mt-3">

                <label for="email">Email:</label>
                <input type="email" formControlName="email" class="form-control" placeholder="abc@gmail.com">

                <div *ngIf="regForm.controls['email'].touched && regForm.controls['email']?.['errors']" class="invalid">

                    <div *ngIf="regForm.controls['email']?.['errors']?.['required']">
                        <span>Email is required</span>
                    </div>

                    <div *ngIf="regForm.controls['email']?.['errors']?.['pattern']">
                        <span>Enter valid Email</span>
                    </div>

                </div>
            </div>


            <div class="form-group mt-3">
                <label for="phone">Phone:</label>
                <input type="tel" formControlName="phonenumber" class="form-control" maxlength="10"
                    placeholder="Enter phone number">
                <div *ngIf="regForm.controls['phonenumber'].touched && regForm.controls['phonenumber']?.['errors']"
                    class="invalid">

                    <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['required']">
                        <span>Phone number is required</span>
                    </div>

                    <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['maxlength']">
                        <span>Phone number should be 10 digits</span>
                    </div>

                    <div *ngIf="regForm.controls['phonenumber']?.['errors']?.['pattern']">
                        <span>Phone number should be numerals</span>
                    </div>

                </div>
            </div>


            <div class="form-group mt-3">

                <label for="age">Age:</label> 
                <input type="number" formControlName="age" class="form-control" max="120" min="1"
                    placeholder="please enter your age" id="age">

                <div *ngIf="regForm.controls['age'].touched && regForm.controls['age']?.['errors']" class="invalid">

                    <div *ngIf="regForm.controls['age']?.['errors']?.['required']">
                        <span>Age is required</span>
                    </div>

                    <div *ngIf="regForm.controls['age']?.['errors']?.['min']">
                        <span>Age should not be less than 1</span>
                    </div>

                    <div *ngIf="regForm.controls['age']?.['errors']?.['max']">
                        <span>Age should be less than 120 years</span>
                    </div>
                    
                    <div *ngIf="regForm.controls['age']?.['errors']?.['pattern']">
                        <span>Age should be numerals</span>
                    </div>

                </div>

            </div>

            <div class="form-group mt-3">

                <label for="gender">gender:</label>&nbsp;
                <label>
                    <input type="radio" formControlName="gender" name="gender" value="male">male
                </label>&nbsp;
                <label>
                    <input type="radio" formControlName="gender" name="gender" value="female">female
                </label>&nbsp;
                <label>
                    <input type="radio" formControlName="gender" name="gender" value="others">others
                </label>

                <div *ngIf="regForm.controls['gender'].touched && regForm.controls['gender']?.['errors']"
                    class="invalid">

                    <div *ngIf="regForm.controls['gender']?.['errors']?.['required']">
                        <span>gender is required</span>
                    </div>

                </div>
            </div>


            <div class="form-group mt-3">

                <label for="mstatus">Marital Status:</label>&nbsp;
                <label>
                    <input type="radio" formControlName="mstatus" name="mstatus" value="single">single
                </label>&nbsp;
                <label>
                    <input type="radio" formControlName="mstatus" name="mstatus" value="married">married
                </label>&nbsp;
                <label>
                    <input type="radio" formControlName="mstatus" name="mstatus" value="others">others
                </label>

                <div *ngIf="regForm.controls['mstatus'].touched && regForm.controls['mstatus']?.['errors']"
                    class="invalid">

                    <div *ngIf="regForm.controls['mstatus']?.['errors']?.['required']">
                        <span>mstatus is required</span>
                    </div>

                </div>

            </div><br>

            <button type="submit" [disabled]="!regForm.valid"
                class="btn btn-primary form-control">Click/Continue</button><br><br>

        </form>

    </div>

</div>