<div class="container-fluid p-1 row" id="bg-secon">
      <div class="col-md-1">
            <img src="../../assets/imgicon.png" class="img-fluid rounded" width="60px" height="60px" alt="imgicon">
      </div>
      <div class="col-md-5 p-3">
            <h4>
                  Amor Hospital Management System
            </h4>
      </div>
</div>



 <!-- <div class="t-body pt-4 mx-auto col-md-12">
      <div class="h4 text-center">  Welcome to Amor Hospital Management System..</div>
      <div class="text-center pt-4">
            <img  class="img-fluid " src="../../assets/heart.jpg">
      </div>
      <div class="text-center pt-3">
          <i>
            <p class="h5">“A fit body, a calm mind, a house full of love. </p>
            <p class="h6">These things cannot be bought - they must be earned.”</p>
          </i>
     
       </div>
</div>  -->


