.bg{
    background-color:white;
    /* width: 100vw; */
    /* padding: 20px; */
    /* padding-bottom: 40px; */
    /* text-align: center; */
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.46);
    
}
/* .i-top-footer{ */
   
    
    /* background-color: #171b1b; */
    /* background-image: linear-gradient(90deg, #000000 0, #000000 100%); */
    /* display: flex;
    position: relative;
} */
/* .footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{ */
  /* color:#44bae8; */
  /* font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0%;
    padding: 0%;
} */

