

<!-- <div style="height: 300px;"></div> -->


<!-- <footer class=" text-dark fixed-bottom footer-copyright text-end py-3"> -->
    <!-- <div class="footer-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container "> -->
            <!-- <section class=""> -->
                <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a> -->
                <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a> -->
            <!-- </section> -->
        <!-- <p>copyright &copy; <a href="#">Developer</a> 
            
        </p> -->
        
    <!-- </div> -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    
<!-- </footer> -->
<!-- Footer -->
<!-- <footer class="page-footer font-small blue"> -->

    <!-- Copyright -->
<!-- <div class="bg-light i-top-footer">
    <div class="footer-copyright text-start py-3 ">© 2020 Copyright:
      <a href="/"> Developer.com</a>
    </div> -->
    <!-- <div class="text-end">
        <p> <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a> 
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a></p>
    </div> -->
<!-- </div> -->
    <!-- Copyright -->
  
  <!-- </footer> -->
  <!-- Footer -->
  <!-- <footer class="fixed-bottom">
    <div class="col-md-12  bg-light navbar-light  navbar-expand-lg" style="height: 60px; padding-top:15px;padding-bottom: 10px;" >
  <p class="text-dark mx-3" style="text-align:left;">
All Rights Reserved | Copyright 2023 <strong><a href="https://solventek.com/">Solventek Pvt. Ltd.</a>
  <p style="text-align:right;" class="mb-5" >
     <a class="btn btn-outline-dark btn-floating m-1"  role="button"><i class="bi bi-facebook"></i></a> 
        <a class="btn btn-outline-dark btn-floating m-1"  role="button"><i class="bi bi-twitter"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1 "  role="button"><i class="bi bi-google"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1" role="button"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1" role="button"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1"  role="button"><i class="bi bi-github"></i></a>
    </p> 
</strong></p>
  </div>


</footer> -->



<!-- <div class="container" > -->
    <footer class="d-flex bg fixed-bottom flex-wrap justify-content-between align-items-center   border-top">
      <div class="col-md-4 fixed-botto d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc &nbsp;</span><strong><a href="https://solventek.com/">Solventek Pvt. Ltd.</a></strong>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://m.facebook.com/p/Solventek-Pvt-Ltd-100067492512186/" role="button"><i class="bi bi-facebook"></i></a> 
        <a class="btn btn-outline-dark btn-floating m-1 " href="https://solventek.com/"  role="button"><i class="bi bi-google"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/solventek.ve//" role="button"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-outline-dark btn-floating m-1" href="https://in.linkedin.com/company/solventek-global" role="button"><i class="bi bi-linkedin"></i></a>
      </ul>
    </footer>
  <!-- </div> -->
