<div class="home">
    <div class="mt-5 section-1">
        <div class="row">

            <div cl class="col p-5 left-para">

                <div class="h1">
                    What's ManishHub ?
                </div>
                <p>
                    ManishHub is a software solution that allows administrators to manage
                    users within an organization. This system typically includes features such as user authentication,
                    access control, and user provisioning. With a user management system, administrators can easily
                    create,
                    modify, and delete user accounts, as well as assign specific permissions to each user.
                </p>
                <p>
                    This helps to ensure that only authorized users have access to sensitive data or resources, while
                    also simplifying the process of managing large numbers of users. Additionally, some user management
                    systems also include features such as password management and multi-factor authentication to further
                    enhance security.
                </p>
            </div>


            <div class="container-fluid col-sm-auto p-3">
                <img src="../../assets/images/home-1.png" class="img-fluid mx-auto d-block" width="450vw"
                    style="vertical-align: middle;">
            </div>
        </div>
    </div>

    <div class="section-2">
        <div class="row">

            <div class="container-fluid col-sm-auto p-3">
                <img src="../../assets/images/home-2.png" class="img-fluid mx-auto d-block" width="400vw"
                    style="vertical-align: middle;">
            </div>

            <div class="col">
                <div class="row">
                    <div class="col boxes-4" routerLink="register">
                        <span class="h5">User registration</span>
                        <p class="mt-2">Going through New User Registration, the user can either create a user ID and
                            password, or
                            use an existing user ID to sign in to your system. New User Registration assigns the newly
                            created user profile with generic security roles that are required to access your system.
                        </p>
                    </div>
                    <div class="col boxes-4" routerLink="login"><span class="h5">Login validation</span>
                        <p class="mt-2">The validation of the HTML form consists in verifying that the identification
                            information
                            entered by the user – E-mail, Username, Password is valid and correct or not. The user will
                            not have access to the reserved page until they enter a valid email and password.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col boxes-4" routerLink="users"><span class="h5">Data manipulation</span>
                        <p class="mt-2">Data manipulation is the method of organizing data to make it easier to read or
                            more designed or structured. For instance, a collection of any kind of data could be
                            organized in alphabetical order so that it can be understood easily.</p>
                    </div>
                    <div class="col boxes-4" routerLink="users"><span class="h5">Search and sort</span>
                        <p class="mt-2">On the one hand, Searching refers to a technique that helps us search a data
                            element out of the given string or array. On the other hand, Sorting refers to the technique
                            used for rearranging the data elements present in a string or an array in any specified
                            order, descending or ascending.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section-3">

    </div>
    <app-ass15-footer class="footer"></app-ass15-footer>
</div>