<body>
<div class="container pt-5">
    <div class="title text-center my-5">
<h1 class="text-uppercase">Making Impossible,Possible.</h1>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid rounded-start" src="../../assets/images/dr7.png" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                      <h3 class="card-title">Quality and safety</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias assumenda aperiam dolore modi eligendi neque accusamus doloremque iste hic.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, sint.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat labore fugit eum illum dicta rerum delectus exercitationem at incidunt ad aspernatur sapiente aut atque sit, eveniet fuga qui quasi vitae sequi deserunt. Nobis eaque maxime sint, ipsum labore laborum 
                        aperiam.</p>  
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>