<div class="container-fluid  mt-2">
  <div class=" ass-1-ng-home">
  <div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" width="245.66" height="186.58" viewBox="0 0 245.66 186.58" aria-hidden="true" role="img">
      <title></title>
      <polyline points="134.26 145.27 137.36 170.58 18.91 185.08 2.73 52.99" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
      <polyline points="1.5 42.94 119.95 28.43 121.97 44.89" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
      <path d="M104.65,127.52a35.86,35.86,0,0,1-10.57,6.23h0" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M38.91,71.26c-1.41-4.48-1.3-11.83,10.81-17.37C68.39,45.34,87.4,54.08,95,67.81c4.08,7.38,12,17.49,16.33,28.07" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M50.15,71.93s-7-18,8.22-20.81C75.28,48,87.13,69.79,88.67,82.35" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <line x1="77.75" y1="98.64" x2="78.03" y2="100.98" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></line>
      <line x1="53.32" y1="101.63" x2="53.61" y2="103.97" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></line>
      <path d="M36,78.62c-.8,2.51-3.25,9.69-4,11.89C29.25,99,26.46,108,28.36,116.72A25.59,25.59,0,0,0,38.45,132a25.23,25.23,0,0,0,8.12,3.79" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M41.71,103.3c-.18,4.32.75,6.83,3.31,13.26,3.93,9.9,8.63,25.62,27,23.37l-.27,0A21.16,21.16,0,0,0,83.58,135h0" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M64,105.82a17.51,17.51,0,0,1-1.12,7.69,1.71,1.71,0,0,0,.21,1.72,4.29,4.29,0,0,0,3.28,1.45,5.31,5.31,0,0,0,4.28-1.78" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M46,97.86s3.68-6.31,12.14-2.81" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M80.7,127.23S90,119,86.33,100c-1.85-9.48-7.58-35.62-29.68-30.64C46.3,71.66,42.05,78.59,40.79,85a29.86,29.86,0,0,0,0,11.11" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M84.2,91.08a8.43,8.43,0,0,0-11.9,2.24" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M87.28,150l-.69-5.69-29.23,3.58.69,5.69c-3.48,9.65-20,9.21-28.7,18.13l90.31-11.06C109.08,154.08,93.06,158.62,87.28,150Z" fill="#574cfa" stroke="#574cfa" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M83.58,135l1-.85a32.77,32.77,0,0,0,10.72-18.61h0" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M61.42,125a14.52,14.52,0,0,0,14.43-2.63" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <polyline points="207.73 17.01 130.59 1.5 103.19 137.78 216.76 160.61 244.16 24.33 221.56 19.79" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
      <path d="M193.41,129.54a24.58,24.58,0,0,1-7.29-5.56c-3.78-4.71-1.21-12.14.92-16.56" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M153.53,100.77c.25,4.89-.27,12.67-5.55,15.54a23.6,23.6,0,0,1-8.21,2.24" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M200.42,48.66a14.54,14.54,0,0,1,8.29,4.84" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M174.05,43.3a16.6,16.6,0,0,1,7.26-9.72,16.28,16.28,0,0,1,11.88-2" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M115.18,130.08l29.14,6s-2.83-14.68-2.18-17.95h0c-7.08,1.29-25,2.87-25,2.87Z" fill="#574cfa" stroke="#574cfa" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M209.4,149.22l-27.59-5.55s8.28-12.45,8.94-15.72h0c5.62,3.65,20.53,11.28,20.53,11.28Z" fill="#574cfa" stroke="#574cfa" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M185.68,107.69a29.4,29.4,0,0,0,11.78-13.55" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M171,81.05a7.51,7.51,0,0,0-2.26,2l0,0a2.66,2.66,0,0,0,1.21,4c2,.86,8.18,2.26,10,.9,2.69-2-.26-5.63-.26-5.63" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M149.06,80.91c-8.15-2.7-.77-17.51-.77-17.51h0a3.51,3.51,0,0,1,2.39,4.54L150,69.88l4.65-7.43,1.54-7.78s4.18-12.35,16.67-11.62" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M149.28,60.39,150,47.64s7.71-15.92,23.54-16.74" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M180.24,44c2.66,1.35,5.51,2.56,7.52,4.76a10.39,10.39,0,0,1,2.6,8.06" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M211.43,34.18c-24.37-17-38-5.15-38-5.15" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M197.43,94.13C205.82,96,207,79.44,207,79.44h0a3.5,3.5,0,0,0-4.36,2.69l-.41,2,.2-8.58,2.21-7.67s2.69-12.76-8.44-18.49" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M200.88,32.39A45.1,45.1,0,0,1,218.71,48" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M210.94,44.83a27.12,27.12,0,0,1,8.27,16.3" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M160.81,61.88c3.42-1.69,9.8-1.5,13.15,3.58" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M197.09,71.79c-3.56-5.61-8.76-6.23-13.15-3.6" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M164.78,94.92a34.75,34.75,0,0,0,16.63,2.29,8.2,8.2,0,0,1-1.61-1.56" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M212,54.14s3.67,6.68-.79,15.27l-5.09,9.8" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M186.68,75.52A5.6,5.6,0,0,1,191,76.75" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M167.88,70.38a5.66,5.66,0,0,0-4.35-1.14" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M173.46,29s13.6-11.84,38,5.15l-10.55-1.79A45.1,45.1,0,0,1,218.71,48l-7.77-3.13a27.12,27.12,0,0,1,8.27,16.3l-7.17-7s3.67,6.68-.79,15.27l-3.6,6.93-.66,3.1h0a3.5,3.5,0,0,0-4.36,2.69l-.41,2,.2-8.58,2.21-7.67S207,55.8,196.19,49.42s-23.33-6.37-23.33-6.37c-12.49-.73-16.67,11.62-16.67,11.62l-1.54,7.78L150,69.88l.68-1.94a3.51,3.51,0,0,0-2.39-4.54h0l1-3L150,47.64s7.56-16,23.54-16.74L173.46,29" fill="#0a0d0e" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M173.53,30.9l.19,5A8,8,0,0,0,177,42.12l0,0" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M203.22,49.37a14.61,14.61,0,0,1,8,5.46" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M177,42.14a16.78,16.78,0,0,1,8-9.29,16.39,16.39,0,0,1,12.11-1.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
      <path d="M180.53,110.48c-6,2.68-9.81,2.25-13.86,1.14-3.88-1.06-6.92-2.37-10.09-6.29a25.83,25.83,0,0,1-5.19-11.51c-.53-2.78-1.14-6.27-1.45-9.08" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
    </svg>
      <div class="row">
        <div class="col col-mg col-sm-auto col-lg about-ass">
      <h1>    <img src="https://www.chime.com/wp-content/uploads/2021/05/sparkle.svg" alt="">We’re changing

              <br>the
        <br>way people
         <br>think
        <br>about
        <br>Healthcare


        <img src="https://www.chime.com/wp-content/uploads/2021/05/sparkle-mobile.svg" alt="">
      </h1>
      </div>
      <div class="col">
        <p>Chime is a financial technology company founded on the premise that basic banking services should be helpful, easy and free. We want to profit with our members, not from them. That’s why our model doesn’t rely on overdraft fees, monthly service fees, service fees, minimum balance requirements, and more.</p>
      </div>

    </div>

      </div>


