<div class="address">
    <div class="container">

        <div class="row">

            <div class="container-fluid col-sm-auto p-3">
                <img src="../../assets/images/2798167.jpg" class="img-fluid mx-auto d-block" width="350vw"
                    style="vertical-align: middle;">
            </div>

            <div class="col">
                <div class="heading h3 text-center">Address</div>

                <form [formGroup]="addressForm" (ngSubmit)="submitForm()">

                    <!-- AREA, CITY -->
                    <div class="row area-city">
                        <label class="h6">Area & city</label>

                        <!-- AREA -->
                        <div class="col">
                            <input formControlName="area" id="area" type="text" class="form-control" placeholder="area">

                            <div class="text-center" *ngIf="addressForm.get('area')?.invalid && 
                            addressForm.get('area')?.errors && 
                            (addressForm.get('area')?.dirty || addressForm.get('area')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('area')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('area')?.hasError('pattern')">
                                    area cannot start with space
                                </small>
                            </div>
                        </div>

                        <!-- CITY -->
                        <div class="col">
                            <input formControlName="city" id="city" type="text" class="form-control" placeholder="city">

                            <div class="text-center" *ngIf="addressForm.get('city')?.invalid && 
                            addressForm.get('city')?.errors && 
                            (addressForm.get('city')?.dirty || addressForm.get('city')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('city')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('city')?.hasError('pattern')">
                                    city cannot start with space
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- DISTRICT, STATE -->
                    <div class="row district-state mt-3">
                        <label class="h6">District & state</label>

                        <!-- DISTRICT -->
                        <div class="col">
                            <input formControlName="district" id="district" type="text" class="form-control" placeholder="district">

                            <div class="text-center" *ngIf="addressForm.get('district')?.invalid && 
                            addressForm.get('district')?.errors && 
                            (addressForm.get('district')?.dirty || addressForm.get('district')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('district')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('district')?.hasError('pattern')">
                                    district cannot start with space.
                                </small>
                            </div>
                        </div>

                        <!-- STATE -->
                        <div class="col">
                            <input formControlName="state" id="state" type="text" class="form-control" placeholder="state">

                            <div class="text-center" *ngIf="addressForm.get('state')?.invalid && 
                            addressForm.get('state')?.errors && 
                            (addressForm.get('state')?.dirty || addressForm.get('state')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('state')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('state')?.hasError('pattern')">
                                    state cannot start with space.
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- HNO, PIN -->
                    <div class="row houseno-pin mt-3">
                        <label class="h6">houseno & Pin</label>

                        <!-- houseno -->
                        <div class="col">
                            <input formControlName="houseno" id="houseno" type="text" class="form-control"
                                placeholder="house number">

                            <div class="text-center" *ngIf="addressForm.get('houseno')?.invalid && 
                            addressForm.get('houseno')?.errors && 
                            (addressForm.get('houseno')?.dirty || addressForm.get('houseno')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('houseno')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('houseno')?.hasError('pattern')">
                                    enter valid pin number
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('houseno')?.hasError('minlength')">
                                    minimum 1 characters
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('houseno')?.hasError('maxlength')">
                                    maximum 50 characters
                                </small>
                            </div>
                        </div>

                        <!-- PIN -->
                        <div class="col">
                            <input formControlName="pin" id="pin" type="number" class="form-control" placeholder="pin code" maxlength="6"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

                            <div class="text-center" *ngIf="addressForm.get('pin')?.invalid && 
                            addressForm.get('pin')?.errors && 
                            (addressForm.get('pin')?.dirty || addressForm.get('pin')?.touched)">
                                <small class="text-danger" *ngIf="addressForm.get('pin')?.hasError('required')">
                                    This field is required.
                                </small>
                                <small class="text-danger" *ngIf="addressForm.get('pin')?.hasError('pattern')">
                                    enter valid pin number
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- SUBMIT -->
                    <div class="text-center">
                        <button type="button" routerLink="/personal-details" class="btn btn-primary">Personal details</button>

                        <button type="submit" [disabled]="addressForm.invalid" class="btn btn-success m-4">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>