<div class="container">
      <main>
            <div>
                  Success has a million definitions. As a student, success may equal straight A's,
                   getting into your ideal college, landing on a dream job, or contribute in a professional area.
                   But, no matter what success means to you, one thing is for sure: it requires strategies and continuous efforts.
                  So if you are determined to achieve your goals, these motivational study quotes will be your cheerleader along the way.
            </div> 
            <div>
                  <img src="../../../../assets/bgimg.jpg" width="100px">
            </div>
      </main>
</div>