<!-- 
<div class="container row row-cols-1 row-cols-md-4 ms-auto">
    <div class="col p-5">
      <div class="card bg-primary">
          <a (click)="NavigatetoPage()" >
          <h2 class="mt-2 text-center text-white">Data Dictionary</h2>
        <div class="card-body bg-light">
         
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
        </a>
      </div>
    </div>
    <div class="col p-5">
      <div class="card bg-primary">
          <h2 class="text-center mt-2 text-white">Annotations</h2>
        <div class="card-body bg-light">
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
            additional content.</p>
        </div>
      </div>
    </div>
    <div class="col p-5">
      <div class="card bg-primary">
          <h2 class="text-center mt-2 text-white">Quality Check</h2>
        <div class="card-body bg-light">
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
            additional content.</p>
        </div>
      </div>
    </div>
  </div>
        -->


<div class="ng-scope">
  <div class="container-fluid pt70 no-select">
    <div class="row">
      <div class="center-block clear">
        <h2> <br /><small><i> Configuration Tool</i></small></h2>
        <hr />
        <!-- <div class="w600">
          <h4>Here we have three steps to manage our process. </h4>
        </div>

        <div class="w600 mb10">
          <h4>1. Data Modeler here we can define our program and can do the data definitions of program.</h4>
        </div>

        <div class="w600 mb10">
          <h4>2. Annotations here we can annotate our PDF files.</h4>
        </div>

        <div class="w600 mb10">
          <h4>3. Quality Check here we can correct the values of the bot result for the selected program and PDF file.
          </h4>
        </div> -->
      </div>
    </div>

    <br>
    <!-- <div class="row"> -->
    <!-- <div class="col-12 col-sm-6 col-md-4 boxMainSec"> -->
    <div class="boxMainSec" style="border:1px solid black; width: 50%; margin-left: 30%;">
      <div class="info-box  mt-3 mb-3">
        <span class="info-box-icon elevation-1">
          <i class="fa fa-bars"></i>
        </span>
        <a routerLink="/programsdata" class="info-box-content alink" style="text-decoration: none;">
          <div>
            <span class="info-box-text">
              <font [size]="4"> Data Modeler</font>
            </span>
          </div>
        </a>
      </div>
      <!-- </div> -->
      <!-- <div class="col-12 col-sm-6 col-md-4 boxMainSec"> -->
      <div class="info-box mb-3">
        <span class="info-box-icon elevation-1">
          <i class="fa fa-object-group"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">
            <font [size]="4">Annotations</font>
          </span>
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-12 col-sm-6 col-md-4 boxMainSec"> -->
      <div class="info-box mb-3">
        <span class="info-box-icon elevation-1">
          <i class="fa fa-check-square"></i>

        </span>
        <div class="info-box-content">
          <a routerLink="/qualitycheck" class="info-box-content alink" style="text-decoration: none;">
            <span class="info-box-text">
              <font [size]="4"> Quality Check</font>
            </span>
          </a>
        </div>
      </div>
      <!-- </div> -->

      <!-- </div> -->
      <br>
    </div>

    <div class="row">
      <div class="center-block clear">

      </div>
    </div>
    <br />

  </div>

</div>