<div class="container">
  <div class="card">
    <div class="card-header bg-primary">
      <h3 class="card-title text-white pt-2">Feedback request</h3>
    </div>
    <div class="modal-body">
      <div class="text-center mt-2">
        <i class="bi bi-file-earmark-text" style="font-size: 32px;"></i>
        <p>
          <strong>Your opinion matters</strong>
        </p>
        <p>
          Have some ideas how to improve our product?
          <strong>Give us your feedback.</strong>
        </p>
      </div>

      <hr />
      <form class="px-4" [formGroup]="FeedbackForm" #feedbackForm="ngForm" (ngSubmit)="submitForm()">
        <p class="text-center"><strong>Your rating:</strong></p>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
          <label class="form-check-label" for="radio3Example1">
            Very good
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
          <label class="form-check-label" for="radio3Example2">
            Good
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
          <label class="form-check-label" for="radio3Example3">
            Medicore
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
          <label class="form-check-label" for="radio3Example4">
            Bad
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
          <label class="form-check-label" for="radio3Example5">
            Very bad
          </label>
        </div>

        <p class="text-center"><strong>What could we improve?</strong></p>

        <!-- Message input -->
        <div class="form-outline">
          <textarea class="form-control" formControlName="feedback" placeholder="Your feedback" id="form4Example3"
            rows="4">

            </textarea>
        </div>

        <div class="card-footer text-center">
          <button type="submit" class="btn btn-success">continue</button>
        </div>
      </form>
    </div>

  </div>
</div>