<h2 mat-dialog-title class="mt-2 headershowlist"> Delete File &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    <mat-icon mat-dialog-close class="mt-3 iconview">close</mat-icon>
</h2>

<mat-dialog-content class="mt-2">Are you sure you want to delete file..?</mat-dialog-content>

<mat-dialog-actions class="headershowlist1">
    <button mat-raised-button mat-dialog-close mat-dialog-close="true" (click)="deleteElement()">Ok</button>
    <button mat-raised-button mat-dialog-close mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>

<div *ngIf="errormsg">Data is not yet deleted from database</div>
<div *ngIf="successmsg">Data is successfully deleted</div>