<footer class="bg-p text-white" style="height: auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 pb-2">
        <h4>About Us</h4>
        <p>
          You can directly hit the ALT + Z Key, and we will get the Toggle Word
          Wrap output, the same as the before method. Like this, By using the
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 pb-2">
        <h4>Usefull links</h4>
        <ul class=" list-unstyled">
          <li>
            <a
              href="https://www.facebook.com/people/Solventek-Pvt-Ltd/100067492512186/"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCtuqf62hTPfchg1dse4bymA"
              >Youtube</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/solventek.ve/">Instagram</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHX0TVnOIxFwAAAAYY04gDAYI36pW2DRmvkmuri2hZJ1IduiePIaZlD0CFcFCBqyPX_d9r_S0QGHwHcShDSaqn6zgg5KMszY_GO0cPLhGD8Q-KDV3JBPRA1WURar6Jb5Zh9gyQ=&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fin.linkedin.com%2Fcompany%2Fsolventek-global"
              >Linkedin</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 pb-2">
        <h4>Contact Us</h4>
        <div>
          <address>SCO 3456, New Delhi - 160066</address>
          <strong>Phone:</strong>+91-0098562325
          <strong>Email:</strong>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 pb-2">
        <h4>NewsLetters</h4>
        <p>Enter your email address below</p>
        <form action="">
          <div class="input-group">
            <input type="email" class="form-control" />
            <button class="btn btn-secondary">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center bg-secondary py-2">
    &copy; 2023. All rights are reserved.
  </div>
</footer>
