<div class="container-fluid">
   <header>
      <div>
         <span class="brand bi bi-book color white">incline</span>
      </div>
      <div class="navmenu">
         <a routerLink="Home">Home</a>
         <a routerLink="About Us">About Us</a>
         <a routerLink="Contact">Contact</a>
         <a routerLink="Images">Images</a>
      </div>
     
   </header>
   <div class="mt-2">
      <img src="../../../../assets/index.jpg" width="100%" height="300px">
   </div>
   <div>
      <router-outlet></router-outlet>
   </div>
   
</div>
