
<nav class="navbar navbar-light bg-light bg-light">
      <div class="container-fluid h4">
            <a routerLink="/Home"><span>Home</span></a>

            <div class="d-flex w-auto gap-2">

                  <a routerLink="/New" class="px-1"><span class="btn btn-secondary navcol">New</span></a>
                  <a routerLink="/Show" class="px-1"><span class="btn btn-secondary navcol">Show</span></a>
                  <a routerLink="/Existing" class="px-1"><span class="btn btn-secondary navcol">Existing</span></a>

            </div>
      </div>
</nav>

<div>
      <router-outlet></router-outlet>
</div>
















<!-- <div>
      <div class="row">
            <div class="col-md-4 ">
                  <a routerLink="/New"><button type="button" class="btn btn-primary  btn-sm">New
                              Patient</button></a>
            </div>
            <div class="col-md-4">
                  <a routerLink="/Exist"><button type="button" class="btn btn-primary  btn-sm">Existing
                              Patient</button></a>
            </div>
            <div class="col-md-4">
                  <a routerLink="/Show"><button type="button" class="btn btn-primary  btn-sm">Show
                              Patients</button></a>
            </div>
      </div>
</div> -->