h1 {
    color:Green;
}
div.scroll {
    margin:4px, 4px;
    padding:4px;
   
    width: 500px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px  ;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .heroes li {
    display: flex;
  }
  
  .heroes button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .heroes button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes button.selected {
    background-color: black;
    color: white;
  }
  
  .heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .heroes button.selected:active {
    background-color: black;
    color: white;
  }
  
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .heroes .name {
    align-self: center;
  }

  /* Page title */
/* ---------------------------------------------------------- */
.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}
.table-holder {
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 45px;
  margin-right: 45px;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 5px;
}
/* ---------------------------------------------------------- */


/* Table styles */
/* ---------------------------------------------------------- */
.mat-table {
  width: 100%;
}

.float-right {
  float: right;
}
/* ---------------------------------------------------------- */

/* Header styles */
/* ---------------------------------------------------------- */
.mat-header-cell {
  background-color: #393939;
  color: white;
}
.mat-header-cell:not(:first-child) {
  padding-left: 0;
}

/* Style just the text in the header */
.mat-header-cell span {
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}
/* Round the top table corners */
.mat-header-cell:first-child {
  border-top-left-radius: 5px;
}
.mat-header-cell:last-child {
  border-top-right-radius: 5px;
}

.mat-header-row {
  height: 3em;
}

.btn-icon {
  height: 17px;
  width: 17px;
  background-color: #393939;
  border: none;
}

.sort-icon {
  height: 17px;
  width: 17px;
  color: white;
}

::ng-deep .mat-sort-header-arrow {
  position: relative;
  left: -1.5rem;
  display: none!important;
  opacity: 0;
}

.header {
  padding: 5px;
}

/* .mat-header-cell { */
  /* color: red!important; */
  /* display: flex; */
  /* align-content: center; */
/* } */
/* ---------------------------------------------------------- */


/* Column styles */
/* ---------------------------------------------------------- */
.type-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.name-column {
  width: 30%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.amount-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.status-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.date-column {
  width: 20%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row > *{
  padding: 0px;
}
.state-column {
  width: 5%;
}
/* ---------------------------------------------------------- */

/* Row styles */
/* ---------------------------------------------------------- */
.mat-row:nth-child(2n) {
  background-color: #f2f2f2;
}
/* ---------------------------------------------------------- */

/* Cell styles */
/* ---------------------------------------------------------- */
.state-cell {
  text-align: right;
}
.mat-cell {
  border: none;
}

.green-svg {
  fill: #6dd400;
}
.gray-svg {
  fill: #b2b4b6;
}
/* ---------------------------------------------------------- */
.mainSpinner {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  align-items: center;
}
.mainSpinner::before{
  content: "";
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.3);
}
.mainSpinnerInner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  position: relative;
}

.mainSpinnerInner p {
  margin-bottom: 0px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.p {
  margin-bottom: 0px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.self_manage_tooltip {
  border: 2px solid #d9d9d9;
  width: 300px;
  word-wrap: normal;
  padding: 10px;
  margin-right: 25px;
  background-color: #f7f7f7;
  color: #333;
  z-index: 10;
  position: absolute;
  right: 100px;
  display: none;
}

.self_manage_tooltip_top:hover ~ .self_manage_tooltip{
  display: block;
}

  
.boxMainSec{
    padding-left: 0px !important;
    padding-right: 1rem !important;
}
.info-box { 
    color: #fff;
}
.bg-info {
    background-color: #17a2b8!important;
}
.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: 0.25rem;
    background-color: #343a40;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 50%;
    margin-left: 30%;
}
.bg-info, .bg-info>a {
    color: #fff!important;
}
.info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    background-color: #8fbc8f;
}
.bg-info, .bg-info>a {
    color: #fff!important;
}
.elevation-1 {
    box-shadow: 0 1px 3px rgba(78, 77, 77, 0.12),0 1px 2px rgba(0,0,0,.24)!important;
}
.info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    color: white;
}
.info-box .info-box-text, .info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellpsis;
    white-space: nowrap;
}
 
.alink:hover {
  color: aqua;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
