<div class="container-fluid mt-2">
      <img src="../../assets/images/contactus.jpg"  class="image-fluid banner-contact" alt="">
</div>
<div class="container text-center ass-1-ng-home">
<p class="h2 contact-text">CONTACT <span class="contact-text">US</span></p>
</div>
<div class="container text-center bi-icon-contact">
  <div class="row">
    <div class="col">
      <i class="bi bi-telephone-inbound-fill icon"></i>
<p class="h3 mt-3">Contact</p>
<p class="h5">(215)979 8080</p>
    </div>
    <div class="col">
      <i class="bi bi-envelope-fill icon"></i>
      <p class="h1 mt-3">Mail</p>
<p class="h5">Connect@solventek.com</p>
    </div>
    <div class="col">
      <i class="bi bi-geo-alt-fill icon"></i>
      <p class="h1 mt-3">Address</p>
      <p class="h5">Designer building,
        <br>beside deloitte,
        <br>Hi-tech city,
        <br>500081
      </p>
    </div>
  </div>
</div>

