<div class="container-fluid">
<div class="logo row">
<div class="col-md-2">
   <a class="fusion-logo-link" href="https://solventek.com/">
      <img src="https://solventek.com/assets/images/logo.png" srcset="https://solventek.com/assets/images/logo.png 1x"
         width="230" height="60" alt="solventek.com Logo" data-retina_logo_url="" class="fusion-standard-logo" />
   </a>
</div>
<div class="col-md-10">
  <marquee direction="left" class="col-md-12  bg-dark navbar-light  navbar-expand-lg"
    style="height: 60px; padding-top:15px;padding-bottom: 10px;color: aqua;"
      behavior="loop">

      <strong><font [size]="5"> Welcome to Solventek Private Limited</font></strong> </marquee>

</div>

<!--
      <li class="dropdown nav-user-dropdown" style="list-style-type: none; text-align: right;">

         <div class="logout">
            <button class="btn btn-primary" (click)="openConfirmationDialog()">Logout</button>
        </div>
      </li> -->


</div>
</div>
   <hr>
