<div class="home">

    <div class="container mt-5">
        <div class="row row1">
    
            <div class="col-sm pt-5">
    
                <p class="h1">Health is wealth.</p>
    
                <p class="text-right pt-4">
                    Medicare hospitals, best multi-specialty hospital in hyderabad with world-class facilities. Consult
                    highly-qualified doctors for right diagnosis & treatment. 24/7 emergency services. Avail top-notch
                    treatment. 62 clinical specialties. Advanced technology & quality treatment.
                </p>
    
            </div>
    
            <div class="container-fluid col-sm-auto p-5">
    
                <img class="img-fluid mx-auto d-block" src="../../assets/images/home1.png" alt="" width="450vw"
                    height="auto">
    
            </div>
    
        </div>
    
    </div>
    
    <div class="container mt-5" id="nav-info">
        <div class="row">
    
            <div class="col m-3 nav-card" routerLink="existing">
                <h4 class="card-title text-center">Existing</h4>
                <p class="nav-desc">Navigate here to search the existing patients data based on your queries.</p>
            </div>
    
            <div class="col m-3 nav-card" routerLink="new">
                <h4 class="card-title text-center">New</h4>
                <p class="nav-desc">Navigate here for adding or registering the new patient data into database.</p>
            </div>
    
            <div class="col m-3 nav-card" routerLink="patients">
                <h4 class="card-title text-center">Patients</h4>
                <p class="nav-desc">Here you can get all the existing patients list where you can sort and filter data.
    
            </div>
        </div>
    </div>
    
    <div class="container pt-5 pb-5">
    
        <div class="row bg-light p-4" id="content">
    
            <div class="col h2" id="left-ps">
    
                <p>Health has no holiday.</p>
                <p>Be fit with our daily</p>
                <p>health tip, and change the</p>
                <p>way you live.</p>
    
            </div>
    
            <div class="col right-ps">
    
                <p>While these challenging times have brought many changes, at Medicare Hospitals one thing remained the
                    same
                    – Our commitment to the safety of our patients, their loved ones and our staff. We have established a
                    safe environment and were among the first in the country to implement a range of rigorous protocols.
                </p>
    
                <p>Largest network of the world’s finest and brightest medical experts who provide compassionate care using
                    outstanding expertise and advanced technology.
                    Medicare Hospitals has been the pioneer in bringing ground-breaking healthcare technologies to India.
                </p>
    
            </div>
    
        </div>
    
    </div>
    
    <div class="pagesection wf-section text-center pt-5">
    
        <div class="pagecontainer">
    
            <h4 class="oneliner mb-5">The world’s health rely on Medicare to make better life and habitat.</h4>
    
        </div>
    
    </div>

</div>

<app-ass14-footer></app-ass14-footer>