<div class="container p-5" id="box1">
    <div class="row">
        <div class="col-sm mt-5">
            <h1>Aster Prime<br>Hospital</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a,
                pede.</p>
            <button type="button" class="btn btn-dark btn-large">Learn more</button>
        </div>

        <div class="col-sm-auto container-fluid">
            <img src="../../assets/D2.png" class="img-fluid d-block mx-auto" style="width:40vw;height:auto" alt="Aster Hospital">
        </div>
    </div>
</div>

<div class="container">
    <div class="row cards">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" routerLink="add-patient" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">New</h5>
                    <p class="card-text">Click New button so open a appointment page and book your appointment.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" routerLink="existing-patient" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Existing</h5>
                    <p class="card-text">Click Existing button and search your data your are alerady exsisted or not.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card" routerLink="view-patient"style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Show</h5>
                    <p class="card-text">Click Show button and check you are listed or not</p>
                </div>
            </div>
        </div>
    </div>
</div>