
<body>
<div>
  <div class="row rea">
    <div class="col mt-5">
      <div class="w-100 text-center">
        <p class="h4 mt-5 mb-5">Medical care is now simplified for every one</p>
        <div class="row">
          <div class="col text-center">
            <h6><strong> Register Here</strong></h6>
            <button class="btnsys w-100 m-2" (click)="toNew()">New</button>
          </div>
          <div class="col text-center">
            <h6><strong> Check your status</strong></h6>
            <button class="btnsys w-100 m-2" (click)="toExisting()">
              Existing
            </button>
          </div>
          <div class="col text-center">
            <h6><strong> Patients list</strong></h6>
            <button class="btnsys w-100 m-2" (click)="toPatients()">
              patients
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container col mt-5 text-left">
      <p class="text-info ele">What is Medicare?</p>
      <p class="h5 text-black">
        Patient scheduling is full of extreme complexities, and Medical Health
        is a healthcare scheduling solution that uses predictive analytics and
        artificial intelligence to help practices deliver better patient care,
        while also improving operational efficiencies. Using the proven
        principles from the airline industry, Opargo identifies and schedules
        patients who need care the most.
      </p>
    </div>
  </div>
</div>

</body>

