<div class="contfluid">
      
      <div class="container">
      <img src="../../../../assets/scenario.jpg">
      </div>

     <div class="header">
      <p>A company profile describes what makes your company unique.
            It automatically differentiates your brand because no other company has the exact same founding story and reason for existing that your business does.
            Your history and values are integral parts of your brand positioning strategy, 
            and a company profile is where you can mention this information without it feeling extraneous or out of place.</p>
     </div>
    
</div>