 /* #content{
        box-shadow: -5px -5px 2px;
        
       }
  
       #content{
        filter: drop-shadow(7px 7px .75em);
       } */
       /* .form{
        margin :20px auto;
       } */
       h2{
        text-align: center;
    }
       body{
        background-repeat: no-repeat;
        
       }
       label{
        
        font-weight: bolder;
       }
       #center{
        align-self: start;
       }
       .form-table{
        margin:0% auto;
        border: 2px solid red;
        padding:10px;
        background-color: darkgrey;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height:100%;
        color: black;
        overflow: auto;
        resize:both;
       }
       .dnone{
        display: none;
       }
       /* input[type="text"],[type="email"]{
        font-size:large ;
       } */