.container {
      position: absolute;
      right: 40px;
      margin-top: 80px;
      max-width: 700px;
      padding: 16px;
      color: whitesmoke;
    }

    .bg-img {
      background-image: url("../../../assets/aboutus.avif");   
      height: 380px;    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    p{
      text-align: center;
      margin-right: 30%;
      margin-left: 6%;
    }

    