<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="user.name"
                            name="name">
                    </div>

                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="user.email"
                            name="email">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input type="number" class="form-control" id="phonenumber" [(ngModel)]="user.phone"
                            name="phonenumber">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" class="form-control" id="age" [(ngModel)]="user.age"
                            name="age">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <input type="text" class="form-control" id="gender" [(ngModel)]="user.gender"
                            name="gender">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="number" class="form-control" id="address" [(ngModel)]="user.address"
                            name="address">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
