<div class="container pt-5">

    <div class="row row1">

        <div class="col-sm">

            <p>ABOUT US</p>

            <p class="h1">Web Design for Sales:</p>

            <p class="h1">Your #1 Design Tool</p>

            <p class="para mt-5">It’s a whole new sales world. Build and deploy Designs to connect, convert, and close-all
                while remote. It’s easy, and it’s proven to make prospects pay attention.
            </p>

            <button  id="btn1"><i class="bi bi-browser-chrome"></i> Add to Chrome. It's free</button>

            <button class="m-3" id="btn2">Get a Demo</button>

        </div>

        <div class="container-fluid col-sm-auto p-5">

            <img class="img-fluid mx-auto d-block" src="../../assets/images/about.png" alt="" width="500vw"
                height="auto">

        </div>

    </div>

</div>

<div class="pagesection wf-section text-center pt-5">

    <div class="pagecontainer">

        <h4 class="oneliner h5">The world’s best companies rely on ManishHub to make better design decisions.</h4>
        <br><br>

        <div class="row">

            <div class="col-sm text-center">Integrated with</div>

        </div>

        <div class="logos">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a0fccf7d78d81585_logo_amazon.png"
                alt="Amazon logo" class="logo m-4" width="100">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6b998def81a004629_logo_google.png"
                alt="Google logo" class="logo m-4" width="100">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6a0fccf20fed815e3_logo_taskrabbit.png"
                alt="Task Rabbit logo" class="logo m-4" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6ee75f135fc390ab6_logo_airtable.png"
                alt="Airtable logo" class="logo m-4" width="100">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726c3102cf1ebf0c2c0_logo_box.png"
                alt="Box logo" class="logo m-4" width="40">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5f7fda34692422757a1b3768_godaddy.svg"
                alt="Godaddy logo" class="logo godaddy-logo" width="100">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a09814d84e5a21c2_logo_asana.png"
                alt="Asana logo" class="logo m-4" width="100">

        </div>
    </div>
</div>

<app-my-footer></app-my-footer>