@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@600&display=swap");

.h4 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, green);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.nav-link:hover {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, green);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0px 0px 5px orange);
}
