/* You can add global styles to this file, and also import other style files */

html,
body {
      height: 100%;
      font-family:unset;
}

body {
      margin: 0;
}

/*langing styles*/
/*header styles*/
.headerstyle {
      background-color:rgb(230, 173, 103);
      width: 95px;
}

.extra {
      flex: 1 0 auto;
}

.logo {
      margin-left: 20px;
}

.logo1 {
      margin-left: 20px;
      font-size: x-large;
      /* color: burlywood; */
}

.anchordecor{
      text-decoration: none;
      color: white;
      margin-left: 20px;
}

/*sidenav styles*/

.sidenav-wrapper {
      position: absolute;
      height: 100%;
      top: 60px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #eee;
}

mat-sidenav {
      width: 200px;
      padding: 20px;
}

mat-sidenav-content{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
}


/*signup page component*/

