
<div class="container-fluid mt-2">
<div class=" ass-1-ng-home">
  <div class="row">
  <div class="col-sm pt-4">
  <p class="h4">Hii,</p>
<p class="h1">Iam Prakash</p>
<p class="text-right">I’m a Front-End Web Developer and I’ve been working with it for the past 6 months.
  I started learning web as any other Web Developer does - First the HTML, then CSS and then JS. After just about 3 months since I started, I thought that I knew everything and that I could call myself a Front-End Web Developer. And so did I. What was the next frontier? Becoming a Full-Stack. I thought that it’d be really easy - all I had to learn was Java and MySQL. I learnt these languages in about a 2 - 3 months (at least I thought). So that’s it. I could call myself a Full-Stack Web Developer. Yeah!</p>
</div>
<div class="col-sm-auto container-fluid p-5">
<img src="../../assets/images/main-image.png" class="img-fluid mx-auto d-block" height="400vw" width="500vw" alt="">
</div>

</div>

</div>

<!-- <polyline points="134.26 145.27 137.36 170.58 18.91 185.08 2.73 52.99" fill="none" stroke="#0a0d0e" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline> -->


</div>







