<section class="home" id="home" style="padding-top:100px;">
    <div class="home-text">
    <h3>Hello ,I'm</h3>
    <h1>Y Prakash Rao</h1>
    <h5>A Creative Designer <span>From Hyderabad</span> </h5>
    <p>I'm creative  designer based in India, and I'm very passionate <br> and dedicated to my work.
    </p>
    <div class="social">
        <a href="#"><i class='bi bi-facebook text-light'></i></a>
        <a href="#"><i class='bi bi-twitter text-light' ></i></a>
        <a href="#"><i class='bi bi-linkedin text-light'></i></a>
        <a href="#"><i class='bi bi-instagram text-light' ></i></a>
    </div>
    <a href="#" class="btn">About me</a>
</div>
<div class="home-img">
<img src="../../assets/images/coding.jfif" alt="coding">
</div>
</section>

