
    <div class="mat-elevation-z8 container w-50">
    <table mat-table [dataSource]="dataSource" class="table-width ">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <!-- <td  *matHeaderCellDef>  </td> -->
        <td   *matCellDef="let row" class=" px-3">
          <input type="checkbox" (click)="$event.stopPropagation()" class="" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">

        </td>
        <td *matFooterCellDef class="padd px-3">
          <input type="checkbox" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
             >
        </td>
      </ng-container>



      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <td *matCellDef="let element" class="flex-left w-100 px-1"> {{element.name}} </td>
        <td  *matFooterCellDef class="padd flex-left w-100 px-1"> Name </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <br><br>
  <div class="d-flex justify-content-center align-items-center">
    <button mat-raised-button (click)="logSelection()">Console Log Selected</button>
  </div>

