<body class="resetPassword">
    <div class="formField">
    <form #resetPassword="ngForm"  (ngSubmit)="submit(reset)" [formGroup]="reset">
       
        <p class="h4">Reset password</p>
<dl>
<dt><label>Password</label></dt>
<dd><input type="password" class="form-control w-100" formControlName="password" /></dd>

<dt><label>Confirm password</label> </dt>
<dd><input type="password" class="form-control w-100" formControlName="confirmPassword" /></dd>

</dl>
<div class="d-flex justify-content-space-between">
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-primary" type="reset">Clear</button>
</div>
</form>
</div>
</body>







