.resetPassword{
    background:url(../../assets/images/backgound2.jpg);
    background-size: cover;
    position:relative
}
.formField{
    position: absolute;
    top: 30%;
    left: 40%;
}













