table {
    margin: auto;
    border: 2px solid black;
  }
  th{
    background-color: lightgray;
    border: 1px solid grey;
  }
  td{
    border: 1px solid grey;
  }
tr:nth-child(odd){
    background-color: lightgrey;
}
.locationtable {
    width:85%;
    margin-bottom: 2.4rem;
    background-color:rgb(241, 240, 240);
    color: black;
    border-collapse: collapse;
  }
  
  .locationtable tr:nth-child(odd) {
    background-color:#fff;
  }
  .locationhead {
    width: fit-content;
    background-color: rgb(241, 240, 240);
    border-bottom: groove;
  }
  .locationtable th,
  .locationtable td {
    margin: .5rem 2rem;
    text-align: left;
    width:200px;
    text-align: center;
  }
  .locationtable tbody tr {
    border-bottom: groove;
  }
  p{
    color: red;
    margin-left: 35px;
  }
  .butn{
    padding: 10px 20px;
    margin: 10px 0px 20px 30px;
    background-color: rgb(56, 243, 99);
    font-weight: 600;
    transition: 0.4s ease;
    left:30px;
    border-radius:10px;
}
.butn:hover{
    background:rgb(4, 132, 25);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#selectionMarquee {
  z-index: 1000;
  position: absolute;
  border: 1px dashed #ccc;
}

.selected-box {
  z-index: 999;
  position: absolute;
  border: 1px dotted #333;
}
#all-cords {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #9f9;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.heading h2{
  margin-top: 16px;
  color: blue;
}