<div class="container mt-5">
    <div class="row row1">

        <div class="col-sm pt-5">

            <p class="h1">Design confidently.</p>

            <p class="text-right pt-4">
                ManishHub is a remote user design platform that takes the guesswork out of
                design decisions by validating them with real users. Fine-tune landing pages, messaging, and creative,
                helping you optimise conversion rates on marketing campaigns and product launches.
            </p>

        </div>

        <div class="container-fluid col-sm-auto p-5">

            <img class="img-fluid mx-auto d-block" src="../../assets/images/home.png" alt="" width="450vw" height="auto">

        </div>

    </div>

</div>

<div class="pagesection wf-section text-center pt-5">

    <div class="pagecontainer">

        <h4 class="oneliner">The world’s best companies rely on ManishHub to make better design decisions.</h4>

        <div class="logos">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a0fccf7d78d81585_logo_amazon.png"
                alt="Amazon logo" class="logo m-4" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6b998def81a004629_logo_google.png"
                alt="Google logo" class="logo m-4" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6a0fccf20fed815e3_logo_taskrabbit.png"
                alt="Task Rabbit logo" class="logo m-4" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e8e6ee75f135fc390ab6_logo_airtable.png"
                alt="Airtable logo" class="logo m-4" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726c3102cf1ebf0c2c0_logo_box.png"
                alt="Box logo" class="logo m-4" width="40">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5f7fda34692422757a1b3768_godaddy.svg"
                alt="Godaddy logo" class="logo godaddy-logo" width="70">

            <img src="https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b46e726a09814d84e5a21c2_logo_asana.png"
                alt="Asana logo" class="logo m-4" width="70">

        </div>

    </div>

</div>

<app-my-footer></app-my-footer>